/* Wrapper */
	div.wrapper { 
		margin: 0 auto; 
	}

	div.grid-container {
		height: auto;
		margin: 0; 
	} 
	
	div#whitewrap { 
		width: 100%;
		float: left;
	}
/* End Wrapper */

/* Structural stuff */	
	.clear { 
		clear: both; 
	}

	.block { 
		box-shadow: none;
		background: none;
		margin: 0;
		border: none;
		float: left;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		overflow: hidden;
	}
		
	div.block-content {
		display: block; 
		float: left;
		width: 100%;
		height: auto;
	}
	
		.block-fixed-height div.block-content, body.visual-editor-iframe-grid div.block-content {
			height: 100%;
		}
	
	.row { 
		float: left; 
		width: 100%;
	}

	.column { 
		float: left; 
	}
	
	.column-1.grid-left-0 { 
		margin-left: 0 !important; 
	}
	
	.sub-column-1 {
		clear: both;
	}
/* End structural stuff */	


/* No Blocks Notice */
	div.wrapper-no-blocks div.entry-content {
		margin: 50px 0;
		text-align: center;
	}